<h2 class="f4 mb4 lh-copy">New Site Scan</h2>
<form>
  <div class="form-group">
    <label for="sitename" class="f6 b db mb2">Site Name</label>
    <input
      type="text"
      class="form-control  input-reset ba b--black-20 pa2 mb2 db w-100"
      id="sitename"
      required
    />
  </div>

  <div class="form-group">
    <label for="siteurl" class="f6 b db mb2">Site Url</label>
    <input
      type="text"
      class="form-control input-reset ba b--black-20 pa2 mb2 db w-100"
      id="siteurl"
    />
  </div>

  <!-- <div class="form-group">
    <label for="siteusername">Auth Username</label>
    <input type="text" class="form-control" id="siteusername">
  </div>
  <div class="form-group">
    <label for="sitepassword">Auth Password</label>
    <input type="password" class="form-control input-reset ba b--black-20 pa2 mb2 db w-100" id="sitepassword">
  </div>  -->

  <button type="submit" class="f6 link dim black db ph3 ph3-ns pv2 pv2-ns">
    Submit
  </button>
</form>
