<a class="link fw5 red dim" routerLink="/scans/{{ siteName }}"
  ><span class="text">ᐊ Back to {{ siteName }} Scans Landing</span></a
>
<h2 class="f4 mb4 mt3 lh-copy">Scanned Pages for {{ siteName }}</h2>
<ng-container *ngIf="masterScanData.topViolations">
  <p class="mb2">Total Violations: {{ masterScanData.totalViolations }}</p>
  <ul>
    <li class="mb1">
      Critical violations: {{ masterScanData.topViolations.critical }}
    </li>
    <li class="mb1">
      Serious violations: {{ masterScanData.topViolations.serious }}
    </li>
    <li class="mb1">
      Moderate violations: {{ masterScanData.topViolations.moderate }}
    </li>
    <li class="mb1">
      Minor violations: {{ masterScanData.topViolations.minor }}
    </li>
  </ul>
</ng-container>

<div class="bb mv3"></div>
<app-url-list [scannedWebpages]="scans"> </app-url-list>
